body {
  background-color: #282c34;
}

p {
  color: #eee;
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
}

h1 {
  padding: 0px;
  font-weight: lighter;
  font-size: 1.4rem;
  text-align: center;
}

.App {
  background-color: #282c34;
  color: #eeeeee;
  text-align: center;
}

.container {
  width: 80%;
  margin: auto;
}

.card_container {
  display: flex;
}

.card {
  flex: 1;
  background-color: #2f343f;
  padding: 20px;
  margin: 4px;
  margin-right: 4px;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}



@media only screen and (max-width: 600px) {
  .card_container {
    flex-direction: column;
  }
}